
<body ng-app="" style="margin-top:500px">
       
  <div class="row">
    <div class="col-md-4">
       Arabic <input type="checkbox" id="meh" (click)="meh()"><br><br>
       Indian <input type="checkbox" id="meh" (click)="myFunction()"><br><br>
       Pakistan <input type="checkbox" id="meh" (click)="myFunction()"><br><br>
       Full Hand <input type="checkbox" id="meh" (click)="myFunction()"><br><br>
        Feet<input type="checkbox" id="meh" (click)="myFunction()"><br><br>
        Half Hand <input type="checkbox" id="meh" (click)="myFunction()"><br><br>
       

    </div>
    <div class="col-md-8">
        <p id="text" style="display:none; font-size:40px;color:rgb(12, 12, 12)">Checkbox is CHECKED!</p>
        
    </div>
  </div>
</body>
