
<body ng-app="" style="margin-top:100px">
       
  <div class="row">
    <div class="col-md-4">
        <ul>
          <li  *ngFor="let eachCat of catList; let i = index">
            <input type="checkbox" id="meh" (click)="catChecked(i)" checked="true" *ngIf="eachCat.checked==true">
            <input type="checkbox" id="meh" (click)="catChecked(i)" *ngIf="eachCat.checked==false">
             {{eachCat.cat}}</li>

          
        <!-- <tr>
            <td>Indian</td> &nbsp; &nbsp;<td><input type="checkbox" id="meh" ng-checked="myFunction"></td>
        </tr>
        <tr>
           <td>Pakistan</td> &nbsp; &nbsp;<td><input type="checkbox" id="meh" ng-checked="myFunction"></td>
        </tr>
        <tr>
           <td>Full Hand </td> &nbsp; &nbsp;<td> <input type="checkbox" id="meh" ng-checked="myFunction"></td>
        </tr>
        <tr>
           <td>Feet</td> &nbsp; &nbsp;<td><input type="checkbox" id="meh" (ng-checked)="myFunction()"></td>
        </tr>
        <tr>
           <td> Half Hand</td> &nbsp; &nbsp;<td><input type="checkbox" id="meh" ng-checked="myFunction"></td>
        </tr> -->
      </ul>
    </div>
    <div class="col-md-8">
        <p id="text" >Checkbox is CHECKED!</p>
        
        
        
    </div>
  </div>
</body>
