.imgs{
    width: 400px;
    height: 400px;
    display: inline-block;
}
.contain{
margin-top: 85px;
    background: url("../../assets/img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.contain a{
    font-family: 'Courgette', cursive;
    font-weight:600;
    font-size:40px;
    letter-spacing: 5px;
}
.btn-outline-info:hover {
    color: #fff!important;
    vertical-align: middle;
    transition-property: transform;
   transform: scale(1.1);
    transition-timing-function: cubic-bezier(0.47, 1.02, 0.31, -0.36);
  }