/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face {
  font-family: soicon;
  src: url("https://fonts.googleapis.com/css?family=Spirax");
}

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* color: #5a5a5a; */

  }

  .image{
    background-image: url("../../assets/img/texture-bw.png")
  }

  .btn{
    text-align: center;
  }

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
 }
  .carousel-caption h1{
    font-family: 'Courgette', cursive;
    font-weight:600;
    font-size:60px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    letter-spacing: 5px;
  }
  .carousel-caption p{
    font-family: 'Courgette', cursive;
    font-weight:700;
    font-size:25px;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
   position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }


  /* MARKETING CONTENT
  -------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }


  /* Featurettes
  ------------------------- */

  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;

  }


  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }


  a{
    color: white;
    font-size: 30px;

  }
  .des {
width: 100%;
margin:-10px;
border: 1px solid #fff;
transition: all .2s ease-in-out
  }
.des img{
  background-size: cover;
  width: 100%;
  opacity:1;
  height:400px;
  margin-bottom: 30px;
}

.des h1{
  position: absolute;
  left: 20%;
  top: 30%;
  font-size:40px;
  color: white;
  font-family: 'Spirax', cursive;
  color: white;
  font-weight: 900;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;

}

.des:hover h1{

  transition-property:transform;
   transform: scale(1.1);


    color: #fff;

   /* #71d5ba; */



}

.des:hover img{
   z-index: 300;
   margin: .4em;
   cursor: pointer;
   display: inline-block;
    vertical-align: middle;
    transition-property: transform;
   transform: scale(1);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.link {
  display:none;
}
.des:hover .link {
    display: block;
    position: relative;
    top:50%;
    left:37% ;
    z-index: 400;

}
.dam h1{
  font-size:40px;
  font-weight: 900;
  text-shadow: -2px 0 #5ea78a, 0 2px #5ea78a, 2px 0 #5ea78a, 0 -2px #5ea78a;
  /* font-family: 'Spirax', cursive; */
  letter-spacing: 0.5em;

}
.xs:hover {
  z-index: 300;
  margin: .4em;
  cursor: pointer;
  display: inline-block;
   vertical-align: middle;
   transition-property: transform;
  transform: scale(1.3);
}

.middle{
  position: relative;
  margin-left:20px;
}


.btn-secondary {
color: rgb(8, 8, 8);
background-color:white;
border-color:white;
font-weight: 500;
font-family: Arial, Helvetica, sans-serif;
}
.btn-secondary:hover{

    color: #fff;
    background-color: #71d5ba;
    border-color: #71d5ba;


  border-radius: 10%;
}

@media(max-width:670px){
 .des h1{
  font-size: 20px;
}
}

@media(max-width:1250px){
  .des h1{
   font-size: 30px;

}
}

/* @media (max-width:40em){
  .des:hover img{
    margin-bottom:5px;
  }
}
@media (min-width:40em){
  .des:hover h1{
    font-size:20px;
    position: absolute;
    left:10%;
    top:10%;
  }
}
@media (min-width:40em){
  .des:hover .link{
    font-size:20px;
    position: relative;
    top:25%;
    left:25% ;
  }
} */
.mehandi{
  background-image: url("../../assets/img/c.jpg");

  height: 370px;
  width: 100%;
  background-size: cover;
}
.des:hover {
  z-index: 300;

  cursor: pointer;
  display: inline-block;
   vertical-align: middle;
   transition-property: transform;
  transform: scale(1.1);
   transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.caterers{
  background-image: url("../../assets/img/40.jpg");

  height: 370px;
  width: 100%;
  background-size: cover;
}



.photographers{
  background-image: url("../../assets/img/64.jpeg");
  background-size: cover;

  height: 370px;
  width: 100%;
}

.makeup{
  background-image: url("../../assets/img/p.jpeg");
  background-size: cover;

  height: 370px;
  width: 100%;
}

.choreo{
  background-image: url("../../assets/img/i.jfif");
  background-size: cover;
  height: 370px;
  width: 100%;
}



.dj{
  background-image: url("../../assets/img/50.jpg");
  background-size: cover;
  height: 370px;
  width: 100%;
}
.dress{
  background-image: url("../../assets/img/18.jpeg");
  background-size: cover;
  height: 370px;
  width: 100%;

}
.decor{
  background-image: url("../../assets/img/32.jpeg");
  background-size: cover;
  height: 370px;
  width: 100%;

}
.honey{
  background-image: url("../../assets/img/62.jpg");
  background-size: cover;
  height: 370px;
  width: 100%;


}
.photo{
  background-image: url("../../assets/img/texture-bw.png");
}