<!-- 
    <div class="preloader">
           <img src="img/giphy-preview.gif">
    </div>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
         $(document).ready(function(){
             // $(".preloader").hide();
              setTimeout(function(){
                      $(".preloader").hide();
              },1000);
         });
    </script> -->

   <!-- File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect -->
<input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
<!-- button to trigger the file upload when submitted -->
<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      Upload with ng-2 file uploader
</button>

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>


