extends includes/frontend_layout
block variables
        - base_url = siteConfig.base_url
    block midContent
        h1 WELCOME TO ADMIN PAGE OF SHAADI A-Z.
        br
        br
        h2 Please Login to Continue