<div id='displaying1' *ngFor="let y of proDetails" style="margin-top: 100px">
  <div class="row" >
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="media" class="well hov">
        <div class="media-left media-middle">
          <img src="{{APIURL}}{{y.product_img}}" class="media-object" class="rounded-circle" style="width:100px ; height: 150px;">
          &nbsp; &nbsp;<h2 class="media-heading" style="display: inline-block;">{{y.f_name}} {{y.l_name}}</h2>
        </div>
        <div class="media-body">
          <table>
            <tr>
              <td><b>Phone no. </b></td> <td>:</td><td>{{y.phone}}</td>
            </tr>
            <tr>
              <td><b>Email </b></td><td>:</td><td>{{y.email}}</td>
            </tr>
            <tr>
                <td><b>Experience</b></td><td>:</td><td>{{y.experience}}</td>
              </tr>
              <tr>
                <td><b>Description</b></td><td>:</td><td>{{y.description}}</td>
              </tr>
              <tr>
                <a class="btn btn-primary btn-outline-danger btn-lg del"  style="position:absolute; bottom:2%;left:-25%"  role="button" (click)="DeleteContact(y.username)">
                  Delete Contact</a>
              </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
