.btn-outline-danger:hover {
  color: #fff!important;
  /* background-color: #71d5ba;
  border-color: #71d5ba; */
}
.well{
  background-image: url("../../assets/img/texture-bw.png");
  display: inline-block;
  padding: 20px;
  width: 625px;
  height: 750px;
}
.media-body{
margin: 20px 10px;
}
.media-heading{
font-family: 'Spirax', cursive;
font-size: 40px;
font-weight: 1000;
letter-spacing:2px;
}
#displaying1{
display: inline-block;
margin-bottom: 30px;
margin-right: 5px;
}
tr{
padding: 5px;
font-size: 20px;
}
td{
padding: 5px;
font-family: 'Merienda', cursive;
}
tr b{
font-family: 'Neucha', cursive;
font-size: 30px;
font-weight:800;
}
.del{
  text-align: center;
  margin: 10% 50%;
  font-size: 25px;
  font-weight: 700;
}
