
+<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  

  <title>Mehendi</title>

 
</head>


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron ">
    <div class="container ">
      <h1 class="display-3" style="text-align: center;">Mehandi</h1>
      <p style="text-align: center; margin-top: 30px;">Find Best Mehandi Ideas Or  Contact Best Of The Best Mehandi Artists Near Your Area </p>
      <p><a class="btn btn-primary btn-outline-success btn-lg col-md-4 " href="#" role="button">Mehandi Ideas &raquo;</a>
             <a class='btn col-md-4'></a>
        <a class="btn btn-primary btn-outline-success btn-lg col-md-4" href="#" role="button">Find Mehandi Artists  &raquo;</a></p><br>
    </div>
  </div>

  
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
