
<body ng-app="" style="margin-top:500px">
       
  <div class="row">
    <div class="col-md-4">

       <ul>
          <li  *ngFor="let eachCat of catList; let i = index">
            <input type="checkbox" id="meh" (click)="catChecked(i)" checked="true" *ngIf="eachCat.checked==true">
            <input type="checkbox" id="meh" (click)="catChecked(i)" *ngIf="eachCat.checked==false">
             {{eachCat.cat}}</li>
 
</ul>
    </div>
    <div class="col-md-8">
        <p id="text" style=" font-size:40px;color:rgb(12, 12, 12)">Checkbox is CHECKED!</p>
        
    </div>
  </div>
</body>
