@import  "css/custom.css";
@import "css/style.default.css";
@import "vendor/owl.carousel/assets/owl.theme.default.css";
@import "vendor/owl.carousel/assets/owl.carousel.css";
@import "vendor/bootstrap-select/css/bootstrap-select.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,700";
@import "vendor/font-awesome/css/font-awesome.min.css";

.box-simple[_ngcontent-c3] p[_ngcontent-c3] {
  color: #343a40;
  margin: 20px 0;
  font-size: 0.9rem;
}
.box-simple[_ngcontent-c3] .icon-outlined[_ngcontent-c3] {
  color: #343a40;
  border: 1px solid #343a40;
  transition: all 0.3s;
}

.bg{
  background-image: url("../../assets/img/back.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding: 20px 40px;
  font-family: 'Chela One', cursive;
	font-size: 30px;
	font-weight:100!important;
	letter-spacing:3px;
}
a[_ngcontent-c3] {
  color: #343a40;
  text-decoration: none;
}

.btn-template-outlined[_ngcontent-c3] {

  border: 1px solid #343a40 !important;
  color: #343a40;

}
#about{
  font-family: 'Neucha', cursive;
  font-size: 40px;
  font-weight:800;  
}

.aboutus.body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  .aboutus.body {
    padding-top: 56px;
  }
}



