+

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Mehendi</title>


</head>
<div *ngIf="token==null" class="error">
  SORRY , But You Have to Login to See Any {{this.titlename}} Contacts
</div>

<div *ngIf="token!=null ">
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div *ngFor="let x of catDetails">
    <div class="jumbotron " [ngStyle]="{'background-image':'url(../../assets/img/background/' + x.url + ')'}">
      <div class="container ">
        <h1 class="display-3" style="text-align: center;">{{this.titlename}}</h1>
        <h2 style="text-align: center; margin-top: 30px; font-weight:600;letter-spacing:1px;"> {{x.Description}} </h2>
        <p>
          <a class='btn col-md-3'></a>
          <a class="btn btn-primary btn-outline-success btn-lg col-md-6"  role="button" (click)="onclick(this.titlename)">
            Find {{this.titlename}} Professional &raquo;</a>
        </p>
        <br>

      </div>
    </div>
  </div>

  <div id='displaying1' *ngFor="let y of proDetails">
    <div class="row" style="margin-top: 100px">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="media" class="well hov">
          <div class="media-left media-middle">
            <img src="../../assets/img/21.jpeg" class="media-object" class="rounded-circle" style="width:100px ; height: 150px;">
            &nbsp; &nbsp;<h2 class="media-heading" style="display: inline-block;">{{y.f_name}} {{y.l_name}}</h2>
          </div>
          <div class="media-body">
            <table>
              <tr>
                <td><b>Phone no. </b></td> <td>:</td><td>{{y.phone}}</td>
              </tr>
              <tr>
                <td><b>Email </b></td><td>:</td><td>{{y.email}}</td>
              </tr>
              <tr>
                  <td><b>Experience</b></td><td>:</td><td>{{y.experience}}</td>
                </tr>
                <tr>
                  <td><b>Description</b></td><td>:</td><td>{{y.description}}</td>
                </tr>
                <tr>
                  <a class="btn btn-primary btn-outline-success btn-lg save"  role="button" (click)="contactsave(y)">
                    Save Contact</a>
                </tr>
            </table>

          </div>
        </div>
      </div>
    </div>
 </div>
</main>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="cat.js"> </script>
