.btn-outline-success:hover {
    color: #fff;
    background-color: #71d5ba;
    border-color: #71d5ba;
  }

  .image{
    background-image: url("../../assets/img/texture-bw.png")
  }

  body {
    padding-top: 3.5rem;
    background-color: #71d5ba;
  }

  main{

    margin-top: 57px;


  }

  .jumbotron {

    background-repeat: no-repeat;
    background-size: cover;
    height:630px;
    margin-bottom: 0.5%;
    padding-top: 180px;


  }

  @font-face {
    font-family: soicon;
    src: url("https://fonts.googleapis.com/css?family=Spirax");
  }

  .container{
    font-family: 'Spirax', cursive;
    color: white;


  }

  .btn-primary {
    color: #007c8c;
    background-color: #ffffff;
    border-color: #00BCD4;
   margin-top: 80px;
   height: 50px;
  }

  .col-md-12 {
    padding: 0px;
  }
